.siteFooter a {
  display: block;
}
.site-footer-brand + .siteFooter-content {
  @include breakpoint($SM) {
    margin-left: 0;
  }
}
.site-footer-brand {
  @include breakpoint($SM) {
    display: none;
  }
}
.has-links .siteFooter-links li {
  display: block;
  @include breakpoint($SM) {
    display: inline-block;
  }
}
.has-links .siteFooter-links li:not(:last-child) {
  border-bottom: 1px solid;
  @include breakpoint($SM) {
    border: none;
  }
}
.has-links .siteFooter-links li a {
  padding: 0.25em 0;
  @include breakpoint($SM) {
    padding: 0;
  }
}
.siteFooter {
  @include print {
    display: none;
  }
}
body {
  @include print() {
    background-color: transparent;
  }
}
