h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1.12em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .75em;
}
p {
	font-size: 15px;
}
aside h2 {
	font-size: 24px;
}

aside h3 {
	font-size: 20px;
}
a.button {
	display: inline-block;
  text-decoration: none;
  background-color: #66CCFF;
  color: white;
	font-size: 0.9em;
  padding: 1em;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
