.widget a:link,
.widget a:visited,
.widget a:active {
	color: white;
}
.widget .cta {
	background: linear-gradient(to right, transparentize(darkgreen, 0.5), darkgreen);
	background-size: 100%;
	display: block;
	padding: 1em;
	transition: 0.2s background-size ease-in-out;
	text-decoration: none;
}
.sidebar .widget .widgetTitle {
	display: none;
}
.sidebar .widget .cta:hover {
	color: white;
	background-size: 150%;
}
.widget .cta p {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 0;
}
.widget .cta.download {
	position: relative;
	padding-left: 4em;
}
.widget .cta.download:before {
	height: 50px;
	@extend %icon-file;
	font-size: 2em;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0.5em;
}
.widget .cta h2 {
  border: none;
	color: #F4F4F4;
  font-family: $benton-sans;
	font-size: 1.3em;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 0.25em;
}
.widgetTitle a:after {
	content: none;
}
.widget .thickbox {
	display: inline-block;
	font-size: 0;
	box-shadow: 0 0 4px 1px grey;
}
